body {margin: 0; background-color: #F96666;}

h1 {text-align: center; color: white;}



.header-div {background-color: #F96666; margin-bottom: 0 ; padding-top: 15%; }

.title-header {font-size: 5em; text-align: left; margin-left: 8%; margin-bottom: 0;}

.title-div {background-color: #F96666; padding-bottom: 50%; position: relative; }

.title-text {font-size: 3em; color: white; text-align: left; bottom: 75%; margin-left: 12%;}

.craw-clip {height: 70%; width: 30%; position: absolute; top:21%; right: 8%; transform: rotate(-40deg);}

.shrimp-clip{height: 60%; width: 30%; position: absolute; left:3%; bottom: 4%; transform: rotate(-20deg);}

.crab-clip{height: 35%; width: 25%; position: absolute; left: 34%; bottom: 17%; transform: rotate(20deg);}

.pictureCarousel {padding-top: 10%;}

.container {margin-right: 0; text-align: center; padding: 10% 10%; padding-bottom: 30%;}


.menu {color: black; padding-bottom: 1%; padding-top: 4%; text-align: center;  background-color: #F5C6A5; margin: 0;}

.menu-divs {text-align: center;}

.menu-headers {color: black; padding-bottom: 3%;}

.menu-text {color: #C27664; text-align: center; background-color: #F5C6A5; margin: 0 0; padding-bottom: 3%;}

.row {background-color: #F5C6A5; padding-bottom: 5%;}

.picture-shrimp {position: absolute; margin-left: 5%;}

.picture-crab {position: absolute; margin-left: 10%;}

.picture-crawfish {position: absolute; margin-left: 2%;}

.button-div {background-color: #F5C6A5; text-align: center;}

.menu-pictures {background-color: #F5C6A5;
								text-align: center;
								color: white;}

.carousel-item{
  padding: 12% 7% 15%;
}

.testimonial-image {
  width: 40%;
  margin: 40px;
}

.css-button {
	font-family: Arial ;
	color: white;
	font-size: 25px;
	border-radius: 5px;
	border: 1px white solid;
	padding: 10px 18px;
	background-color: #F96666;
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0 #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}

.css-button:hover {
	background-color: #C27664;
  color: white;
}



.ordering {background-color: #F96666; color: white; text-align: center; padding: 8% 8%;}

.fab {position: absolute; left: 41%;}
